<div class="row">
  <aside class="col-md-4 py-4 mb-1 bg-light order-sm-2 order-md-1">
    <div class="sidebar-item">

      <h4 class="mb-3 border-start border-5 border-dark p-2">検索・絞り込み</h4>
   
      <%= form_with(url: search_articles_path, scope: :search, method: :get) do |f| %>
      
      <div class="mb-3">
        <%= f.label :keyword, "フリーワード検索" %>
        <%= f.text_field :keyword, value: @keyword, class: "form-control" %>
      </div>
  
      <div class="mb-3">
        <label>クラスによる絞り込み</label>
        <% @grades.each do |grade| %>
          <%= f.check_box :grade_ids, { multiple: true, include_hidden: false, class: "btn-check", id: "search_grade_ids_#{grade.id}", checked: searched_by_grade?(grade.id) }, grade.id %>
          <%= f.label :grade_ids, grade.name, value: grade.id, class: "btn btn-outline-secondary mb-1 w-100" %>
        <% end %>
      </div>
  
      
      <div class="mb-3 d-flex gap-1">
        <%= link_to "クリア", root_path, class: "btn btn-secondary w-50" %>
        <%= f.submit "検索する", class: "btn btn-primary w-50" %>
      </div>
        
      <% end %>
    </div>
  </aside>
  <main class="col-md-8 py-4 order-sm-1 order-md-2">
    
    <h4 class="border-start border-success border-5 p-2 mb-3">記事一覧</h4>

    <% if @articles.any? %>
      <p class="px-2">該当件数 <big><%= @articles.count %></big> 件</p>
      
      <div class="mb-3">
        <% @articles.each do |article| %>
          <%= link_to article_path(article), class: "text-decoration-none text-dark" do %>
            <div class="card mb-1 shadow-sm" >
              <div class="row g-0">
                <div class="col-4">
                  <% if article.article_images.present? %>
                    <%= image_tag article.article_images.first.image.url, class: "card-img p-1" %>
                  <% end %>
                </div>
                <div class="col-8">
                  <div class="card-body p-4">
                      <p class="card-text"><span class="badge bg-success text-light rounded-pill"><%= article.grade.name %></span></p>
                      <h4 class="card-title"><%= article.title %></h4>
                      <p class="card-text"><%= article.user.name %></p>
                      <p class="card-text"><small class="text-muted"><%= article.created_at.strftime("%Y-%m-%d %H:%M") %></small></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>  
        <% end %>
      </div> 
      <%== pagy_bootstrap_nav(@pagy) %>
    <% else %>
      <p>条件に該当する記事が見つかりません。</p>
    <% end %>
  </main>
</div>