<h4 class="mb-3 border-start border-5 border-dark p-2">検索・絞り込み</h4>

<div class="mb-3">
  <%= form_with(url: search_teachers_users_path, scope: :search, method: :get) do |f| %>
  
    <div class="mb-3">
      <%= f.label :name, "名前検索" %>
      <%= f.text_field :name, value: name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <label>クラスによる絞り込み</label>
      <% grades.each do |grade| %>
        <%= f.check_box :grade_ids, { multiple: true, include_hidden: false, class: "btn-check", id: "search_grade_ids_#{grade.id}", checked: searched_by_grade?(grade.id) }, grade.id %>
        <%= f.label :grade_ids, grade.name, value: grade.id, class: "btn btn-outline-secondary mb-1 w-100" %>
      <% end %>
    </div>

    
    <div class="mb-3 d-flex gap-1">
      <%= link_to "クリア", teachers_users_path, class: "btn btn-secondary w-50" %>
      <%= f.submit "検索する", class: "btn btn-primary w-50" %>
    </div>
    
  <% end %>
</div>