<header class="mb-4">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">桜ヶ丘こども園 Dayily News</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="MENU">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if logged_in? %>
          <% if current_user.teacher? %>
            <ul class="navbar-nav me-auto">
              <li class="nav-item"><a href="/" class="nav-link <%= "active" if current_page?(root_path) %>">News</a></li>
              <li class="nav-item"><a href="/users" class="nav-link <%= "active" if current_page?(users_path) %>">園児一覧</a></li>
              <li class="nav-item"><a href="/users/teachers" class="nav-link <%= "active" if current_page?(teachers_users_path) %>">教員一覧</a></li>
              <li class="nav-item"><a href="/grades" class="nav-link">クラス一覧</a></li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item"><%= link_to "ログアウト", logout_path, method: :delete, class: "nav-link btn btn-info text-dark" %></li>
            </ul>

          <% else %>
            <ul class="navbar-nav me-auto">
              <li class="nav-item"><a href="/" class="nav-link <%= "active" if current_page?(root_path) %>">News</a></li>
              <li class="nav-item"><a href="/users/teachers" class="nav-link <%= "active" if current_page?(teachers_users_path) %>">教員一覧</a></li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item"><%= link_to "ログアウト", logout_path, method: :delete, class: "nav-link btn btn-info text-dark" %></li>
            </ul>
          <% end %>
        <% end %>  
        
      </div>
    </div>
  </nav>
</header>