<!DOCTYPE html>
<html>
  <head>
    <title>SchoolToday</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body data-turbolinks="false">
  
  <header>
    <div class="container text-center">
      <h1><%= link_to image_tag("text_hoiikuen.png", height: "50", class: "mw-100", alt: "保育園"), "/" %></h1>
    </div>
  </header>
    
    <%= render "layouts/navbar" %>
    <%= render "layouts/flash_messages" %>

    <div class="container">
      <%= yield %>
    </div>
    
  <footer class="py-4 bg-dark text-light">
    <%= render "layouts/footer" %>
  </footer>

  </body>
</html>
